* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: crimson;
  font-size: clamp(15px, 3.5vw, 35px);
  width: clamp(280px, 65vw, 650px);
}
.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #a19a9c;
  font-size: clamp(15px, 3.5vw, 35px);
  width: max-content;
  margin-bottom: 50px;
}
.container-icon-back {
  width: 90%;
  margin: 0px auto 25px auto;
}
.icon-back {
  font-size: clamp(30px, 5vw, 50px);
  color: black;
}